<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link href="./scripts/navbar.js" rel="stylesheet" />
        <link href="./stylesheets/styles.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="./scripts/navbar.js"></script>
    </head>
    <body>
        <div id="navbarLocation"></div>
        <div class="demo-wrap">
            <!-- <img src="/assets/CHALDEAS.png" class="demo-bg"> -->
        </div>
        <div class="demo-content container text-center">
            <% let smallTxt = "The button here will take you where you need to go." %>
            <h1>Hello! Welcome to my webpage!</h1>
            <small><%= smallTxt %></small>
            <button id="scared"><%= scaredBtn %></button>
            <button id="reminder-button" onclick="alert('There is literally a Navbar.')"><%= secretBtn %></button>
        </div>
    </body>
    <style>
        #scared {
            position: absolute;
            top: 600%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
            /* background-color: rgb(132, 0, 255); */
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: 0px 5px 5px #00000065;
        }

        #reminder-button{
            padding: 10px;
            /* background-color: rgba(132, 0, 255, 0.309); */
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: 0px 5px 5px #00000065;
            display: none;
            position: absolute;
            top: 650%;
            left: 50%;
            transform: translate(-50%, 0);
        }

        body{
            user-select: none;
        }
    </style>
    <script>
        //I stole this from //https://github.com/Z2r-YT/Stupid-Anxiety-Cure-Bad-UI/tree/main
        document.addEventListener('keydown', function(event) {
            if (event.keyCode === 9) {
            event.preventDefault();
            }
        });

        $(document).ready(function() {
            setTimeout(function() {
            $('#reminder-button').fadeIn();
            }, 10000); // 10 seconds in milliseconds
        });
        

        var caller = $("#scared");
        var distanceMultiplier = 25;

        function scare(event) {
        // get the center of the caller element
            var centerX = caller.offset().left + caller.width() / 2;
            var centerY = caller.offset().top + caller.height() / 2;
            
            // calculate the distance between the cursor and the center of the caller element
            var distanceX = event.clientX - centerX;
            var distanceY = event.clientY - centerY;
            var distance = Math.sqrt(distanceX * distanceX + distanceY * distanceY);
            
            // calculate the new position for the caller element
            var newX = centerX - (distanceX / distance) * distanceMultiplier;
            var newY = centerY - (distanceY / distance) * distanceMultiplier;
            
            // get the width and height of the caller element
            var width = caller.width();
            var height = caller.height();
            
            // get the width and height of the window
            var windowWidth = $(window).width() - 100;
            var windowHeight = $(window).height() - 100;
            
            // wrap to other side of the screen if reaching the edges
            if (newX + width > windowWidth) {
                newX = -width + 50;
            } else if (newX < 0) {
                newX = windowWidth - 50;
            }
            
            if (newY + height > windowHeight) {
                newY = -height + 50;
            } else if (newY < 0) {
                newY = windowHeight - 50;
            }
            
            // move the caller element to the new position
            caller.stop().animate({"left": newX + "px", "top": newY + "px"}, 0);
            }

            $(document).ready(function() {
            caller.on('mousemove', scare);
            caller.on('click', function() {
                alert('HUH?!');
            });
        });

    </script>
</html>