<nav id="navbarCustom" class="navbar navbar-expand-lg sticky-top position-sticky bg-dark" style="overflow: hidden;">
    <a class="navbar-brand" href="/"><img style="height: 40px; filter: invert();" class="img-responsive" src="/assets/chaldea_logo.png"></a>
    <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item mx-3 active"><a class="nav-link" id="homeButton" href="/">Home</a></li>
            <li class="nav-item mx-3"><a class="nav-link" id="aboutButton" href="/about">About</a></li>
            <li class="nav-item mx-3"><a class="nav-link" id="portfolioButton" href="/portfolio">Portfolio</a></li>
            <li class="nav-item mx-3"><a class="nav-link" id="uniqueButton" href="/weather">Weather</a></li>
            <li class="nav-item mx-3"><a class="nav-link" id="uniqueButton" href="/unique">Unique Page</a></li>
         </ul>
    </div>
</nav>