<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <title>My Portfolio</title>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <div id="navbarLocation"></div>
        <div class="demo-wrap"></div>
        <div class="demo-content">
            <div id="carouselContainer">
                <div id="aboutCarousel" class="carousel slide cross-fade " data-bs-ride="true">
                    <div id="carousel-indicators" class="carousel-indicators"><!--The contents are generated via Javascript--></div>
                    <div id="carousel-inner" class="carousel-inner"><!--The contents are generated via Javascript--></div>
                    <button class="carousel-control-prev" href="#aboutCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Prev</span>
                    </button>
                    <button class="carousel-control-next" href="#aboutCarousel" role="button" data-bs-slide="next">
                        <span class="visually-hidden">Next</span>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        <div id="hiddenData" hidden><%=JSON.stringify(carouselData)%></div>
        <footer><center>Created By Amogus</center></footer>
    </body>
    
    <script type="text/javascript">
        $(document).ready(function(){
            const carouselData = JSON.parse(document.getElementById("hiddenData").innerText)
            const carousel = document.getElementById('aboutCarousel')
            const carouselIndicators = document.getElementById('carousel-indicators')
            const carouselContents = document.getElementById('carousel-inner')

            Object.entries(carouselData).forEach((data) =>{
                console.log(data[0])
                const carouselItem = document.createElement('div')
                carouselItem.setAttribute('class', `carousel-item ${data[0] == 0 ? "active" : 0}`)

                const carouselDiv = document.createElement('div')
                carouselDiv.setAttribute('class', `d-flex justify-content-center`)
                
                const cardImage = document.createElement('img')
                cardImage.setAttribute('class', `card-image-top`)
                cardImage.setAttribute('style', `height: 100%; fit:contain;`)
                cardImage.setAttribute('alt', `${data[1].title}`)
                cardImage.src = data[1].img

                const newLi = document.createElement('button')
                newLi.setAttribute('data-bs-target', '#aboutCarousel')
                newLi.setAttribute('data-bs-slide-to', `${data[0]}`)
                newLi.setAttribute('aria-label', `Slide ${(parseInt(data[0]) + 1)}`)
                if (data[0] == 0) { newLi.setAttribute('class', 'active') }
                
                const carouselCard = document.createElement('div')
                carouselCard.setAttribute('class', 'card')
                carouselCard.setAttribute('style', `width: 300px`)
                carouselCard.appendChild(cardImage)
                const cardBody = document.createElement('div')
                cardBody.setAttribute('class', 'card-body')
                const cardTitle = document.createElement('h5')
                cardTitle.setAttribute('class', 'title')
                cardTitle.innerHTML = `<div>${data[1].title}</div>`
                const cardText = document.createElement('p')
                cardText.setAttribute('class', 'card-text')
                cardText.innerHTML = `<div>${data[1].body}</div>`
                const cardLinks = document.createElement('div')
                cardLinks.setAttribute('class', 'card-body d-flex justify-content-around')

                Object.entries(data[1].links).forEach(current => {
                    const linkButton = document.createElement('a')
                    linkButton.innerText = `${current[1].name}`

                    linkButton.setAttribute('class', 'btn border')
                    linkButton.setAttribute('id', `btn${linkButton.innerText}`)
                    linkButton.setAttribute('type', 'button')
                    linkButton.setAttribute('target', '_blank')

                    if (current[1].icons != 'bi-clipboard') {
                        linkButton.setAttribute('onclick', `window.open('${current[1].link}','_blank')`)
                    } else {
                        linkButton.setAttribute('onclick', `toClipBoard('${current[1].link}')`)
                    }

                    
                    const icon = document.createElement('i')
                    const iconDiv = document.createElement('div')
                    icon.setAttribute('class', `bi ${current[1].icons}`)

                    linkButton.innerText += " "
                    linkButton.appendChild(icon)
                    cardLinks.appendChild(linkButton)
                })
                carouselIndicators.appendChild(newLi)

                const cardFooter = document.createElement('div')
                cardFooter.setAttribute('class', 'card-footer text-body-secondary text-center')
                cardFooter.innerHTML = ` ... `
                
                cardBody.appendChild(cardTitle)
                cardBody.appendChild(cardText)

                carouselCard.appendChild(cardImage)
                carouselCard.appendChild(cardBody)
                carouselCard.appendChild(cardLinks)
                carouselCard.appendChild(cardFooter)

                carouselDiv.appendChild(carouselCard)

                carouselItem.appendChild(carouselDiv)

                carouselContents.appendChild(carouselItem)
            })
            console.log("HOEH???")
            console.log(carousel)
        });

        function toClipBoard(text) {
            navigator.clipboard.writeText(text);
        }
    </script>
</html>